:root {
    --primary-text-color: #212121;
    --primary-bg-color: #FFFFFF;
    --background-color: #2F303A;
    --accent-color: #2196F3;
    --title-color: #757575;
    --black-color: #000000;
    --btn-bg-color: #F5F4FA;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --border-color: #ECECEC;
}